{% extends 'base.html.j2' %}

{% block body %}
    {% include 'components/toolbar.html.j2' %}
    {% include 'components/login/login-card.html.j2' %}
{% endblock body %}

{% block footer %}
    {% include 'components/footer.html.j2' %}
{% endblock %}
