{% extends 'base_compiled.html.j2' %}

{% block body %}
    {% include 'components/toolbar.html.j2' %}
    <navigation></navigation>
{% endblock body %}

{% block footer %}
    {% include 'components/footer.html.j2' %}
{% endblock %}
