<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block css_header %}
        {% assets "scss_main" -%}
            <link rel="stylesheet" href="{{ ASSET_URL }}" media="screen,projection" />
        {%- endassets %}

        {% assets "scss_materialize" -%}
            <link rel="stylesheet" href="{{ ASSET_URL }}" media="screen,projection" />
        {%- endassets %}
          <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
          <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="{{ bodyClass }}">
        <main id="app" v-cloak>
            <v-app>
              <v-content>
                {% include 'components/flash/flash.html.j2' %}
                {% block body %}{% endblock body %}
                {% block footer -%}
                    {% include 'components/footer.html.j2' %}
                {%- endblock %}
            </v-content>
            </v-app>
        </main>
    </body>
</html>
