<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    </head>
    <body class="{{ bodyClass }}">
        <main id="app">
            <v-app v-cloak>
              <div class="spinner text-xs-center">
                <v-progress-circular indeterminate :value="60"></v-progress-circular>
              </div>
              <v-content>
                {% include 'components/flash/flash.html.j2' %}
                {% block body %}{% endblock body %}
                {% block footer -%}
                    {% include 'components/footer.html.j2' %}
                {%- endblock %}
            </v-content>
            </v-app>
        </main>
    </body>
</html>
