{% extends 'base.html.j2' %}

{% set bodyClass = 'landing' %}

{% block body %}
    Hello World.
{% endblock body %}

{% block footer %}
<footer class="page-footer transparent center-align">
</footer>
{% endblock %}

{% block js_footer %}
    {{ super() }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var bLazy = new Blazy({});
        });
    </script>
{% endblock %}
